.card-nico {
    margin-bottom: 15px;
    .product-img {
        height: 150px;
        object-fit: cover;
    }
    .card-footer {
        padding: 0;
    }
    .cartQuantity {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
