.product {
    width: 60%;
}
.quantity, .price {
    width: 20%;
}

.product-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.cart-cells {
    vertical-align: middle;
}